/* note: the hex values are approximations and won't exactly match
   what is in the Sketch files, but should be close */

$gray-darkest          :hsl(195,80%,10%);
$gray-darker           :hsl(192,14%,40%);
$gray-dark             :hsl(192,14%,50%);
$gray-light            :hsl(191,15%,73%);
$gray-lighter          :hsl(198,16%,87%);
$gray-lightest         :hsl(206,19%,92%);
$gray-lightester       :lighten($gray-lightest,6%);

$brand-primary-dark    :hsl(197,68%,31%);
$brand-primary-light   :hsl(197,69%,50%);
$brand-primary-lighter :hsl(196,65%,90%);

$confirm               :hsl(109,41%,56%);
$confirm-light         :lighten($confirm, 12%);
$error                 :hsl(355,89%,62%);
$error-light           :lighten($error, 15%);
$warning               :hsl(34,97%,59%);
$warning-light         :lighten($warning, 18%);
$notify                :hsl(43,81%,83%);
$highlight             :hsl(44,90%,96%);
