/* note: the hex values are approximations and won't exactly match
   what is in the Sketch files, but should be close */

$gray-darkest          :hsl(195,80%,10%); /* #05242E */
$gray-darker           :hsl(192,14%,30%); /* #425357 */
$gray-dark             :hsl(192,14%,50%); /* #6E8A91 */
$gray-light            :hsl(191,15%,73%); /* #B0C1C4 */
$gray-lighter          :hsl(198,16%,87%); /* #D9E0E3 */
$gray-lightest         :hsl(206,19%,92%); /* #EAEEF1 */

$brand-primary-dark    :hsl(197,68%,31%); /* #196685 - dark blue */
$brand-primary-light   :hsl(197,69%,50%); /* #28A6D7 - primary blue */
$brand-primary-lighter :hsl(196,65%,90%); /* #D5EDF6 - light blue */

$confirm               :hsl(109,41%,56%); /* #72BD61 */
$confirm-light         :lighten($confirm, 12%);
$error                 :hsl(355,89%,62%); /* #F44856 */
$error-light           :lighten($error, 15%);
$warning               :hsl(34,97%,59%);  /* #FCA431 */
$warning-light         :lighten($warning, 18%);
$notify                :hsl(43,81%,83%);  /* #F7E3B1 */
$highlight             :hsl(44,90%,96%);
