// TYPOGRAPHY
// $font-stack-proportional: "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-stack-proportional: "RobotoDraft", Helvetica, Arial, sans-serif;
$font-stack-monospace:    "Source Code Pro", monospace;

$font-weight-light:    300;
$font-weight-normal:   400;
$font-weight-semibold: 600;

$font-root-size: 10px; // Makes relative sizing math easier.

// LAYOUT

// TODO: make sure dimensional var are applied properly.

// 1. Used to determine VERTICAL offsets, padding and margins ONLY.
// 2. Used to determine HORIZONTAL offsets, padding and margins ONLY.

$baseline:     6px; // 1
$base-width:   5px;
$column:     100px;
$gutter:      20px; // 2
