%t-smoothing-on {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%t-smoothing-off {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

%t-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
