html _deep_ {

  .Card {
    // Faux Shadow
    border: 1px solid rgba(0,0,0, .05);
    border-top-color: rgba(0,0,0, .025);
    border-bottom: 2px solid rgba(0,0,0, .075);
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: $baseline;
  }

  .Card-title, .Card-subject, .Card-action {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: ($baseline*4) ($base-width*4);
  }

  .Card-subject, .Card-title {
    background: white;
    border-bottom: 1px solid $gray-lightest;
    color: $gray-darker;
  }

  .Card-title {
    align-items: baseline;
    font-size: 1.6rem;
    padding-bottom: ($baseline*3);
    line-height: 1.5;
  }

  .Card-subject, .Card-action {
    align-items: center;
    line-height: 1.5;
  }

  .Card-subject {
    margin-top: -1px; // Prevent double border with the title
    padding-top: 0;
    padding-bottom: ($baseline*2);

    &:last-child {
      border-bottom-style: none;
    }
  }

  .Card-action {
    background: $gray-lightester;
    color: $gray-darker;

    ticker-github-avatar {
      align-self: flex-start;
    }
  }

}
