// TODO(pwong): Once these styles start to settle down, extract these out into
//              reusable CSS components that can be used by other types of event
//              cards.
@import 'imports';

.card {
  // Faux Shadow
  border: 1px solid rgba(0,0,0, .05);
  border-top-color: rgba(0,0,0, .025);
  border-bottom: 2px solid rgba(0,0,0, .075);
  border-radius: 2px;
  overflow: hidden;
}

.title, .subject, .action {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: ($baseline*4) ($base-width*4);
}

.subject, .title {
  border-bottom: 1px solid $gray-lightest;
  background: $gray-lightester;
}

.title {
  align-items: baseline;
  padding-top: ($baseline*4);
  padding-bottom: ($baseline*4);
}

.subject, .action {
  align-items: center;
  line-height: 1.5;
}

.subject {
  color: $gray-dark;
  font-style: italic;
  margin-top: -1px; // Prevent double border with the title
  padding-top: 0;
  padding-bottom: ($baseline*2);

  &:last-child {
    border-bottom-style: none;
  }
}

.action {
  background: white;

  ticker-github-avatar {
    align-self: flex-start;
  }
}
