link(rel='import' href='../../../bower_components/core-icon/core-icon.html')
link(rel='import' href='../../../bower_components/marked-element/marked-element.html')
link(rel='import' href='./ticker-github-avatar.html')

+polymer-element(attributes='pullRequests')(noscript nocss)
  template(repeat='{{pr in pullRequests}}')
    .Card
      .Card-title(layout center class='l-padding-b3')
        core-icon(
          class='[[   pr.state === "open" ? "c-warning-light" \
                    : pr.merged           ? "c-confirm-light" \
                    : "c-error-light"   ]]                    \
                    l-margin-r3'
          icon='github:git-pull-request')
        span(flex) [[pr.title]]
        span(class='c-gray-dark t-font-size-11') [[pr.created_at | timeAgo]]

      .Card-action
        ticker-github-avatar(class='l-margin-r3' avatarUrl='[[pr.user.avatar_url]]')
        marked-element(flex class='t-word-wrap-break-word' text='[[pr.body]]')
