polymer-element(name='ticker-github-avatar' attributes='avatarUrl')
  template
    style.
      :host {
        width: {{size}}px;
        height: {{size}}px;
      }
      img { border-radius: 10%; }

    img(
      width="{{size}}"
      height="{{size}}"
      _src='{{avatarUrl}}'
    )
  script.
    Polymer({size: 24});
