link(rel='import' href='../../../bower_components/core-icon/core-icon.html')
link(rel='import' href='../../../bower_components/marked-element/marked-element.html')
link(rel='import' href='./ticker-github-avatar.html')

+polymer-element(attributes='pullRequests')(noscript nocss)
  .Card
    template(repeat='{{pr in pullRequests}}')
      .Card-title(layout center)
        core-icon(
          class='[[   pr.state === "open" ? "c-warning-light" \
                    : pr.merged           ? "c-confirm-light" \
                    : "c-error-light"   ]]                    \
                    l-margin-r3'
          icon='github:git-pull-request')
        div(flex)
          div(layout horizontal center)
            span(flex class='t-truncate t-word-wrap-break-word')
              | [[pr.title]]
            span(class='c-gray-dark t-font-size-11')
              | [[pr.created_at | timeAgo]]
          div(class='t-font-size-12 c-gray-dark')
            | \#[[pr.number]] opened by [[pr.user.login]]
