link(rel='import' href='../../../bower_components/core-icon/core-icon.html')
link(rel='import' href='../../../bower_components/marked-element/marked-element.html')
link(rel='import' href='./ticker-github-avatar.html')

+polymer-element(attributes='issues')(noscript nocss)
  .Card
    template(repeat='{{issue in issues}}')
      .Card-title(layout center)
        core-icon(
          class='[[   issue.state === "open" ? "c-warning-light" \
                    : issue.merged           ? "c-confirm-light" \
                    : "c-error-light"   ]]                       \
                    l-margin-r3'
          icon='github:issue-[[issue.state]]ed')
        div(flex)
          div(layout horizontal center)
            span(flex class='t-truncate t-word-wrap-break-word')
              | [[issue.title]]
            span(class='c-gray-dark t-font-size-10')
              | [[issue.created_at | timeAgo]]
          div(class='t-font-size-12 c-gray-dark')
            | \#[[issue.number]] opened by [[issue.user.login]]
          
