@import 'imports';

.card {
  background-color: white;
  border: 1px solid transparentize($gray-dark, .75);
  border-top-style: none;
  border-bottom: 2px solid transparentize($gray-dark, .75);
}

.title, .subject, .action {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.title {
  align-items: baseline;
}

.subject, .action {
  line-height: 24px;
}

.subject {
  background: lighten($gray-lightest,5%);
  border: 1px solid lighten($gray-lightest, 2%);
  border-style: solid none;
  color: $gray-dark;
  margin-bottom: $baseline;
  padding: $baseline ($base-width*2) ($baseline - 2) ($base-width*2);

  &:last-child {
    border-bottom-style: none;
  }
}

.action {
  padding: $baseline ($base-width*2) ($baseline*2) ($base-width*2);
}

// .action__content {
//   max-height: 24px * 3.5;
//   overflow: hidden;
// }
