+polymer-element(attributes='userid' nocss)
  style.
    :host {
      width: {{size}}px;
      height: {{size}}px;
    }
    img { border-radius: 10%; }

  img(
    width="{{size}}"
    height="{{size}}"
    _src='{{"https://avatars2.githubusercontent.com/u/"+userid+"?v=2&s="+size}}'
  )
