+import('../../iconsets/github.html')
+import('../../../bower_components/core-icon/core-icon.html')
+import('../ticker-card.html')

+polymer-element(attributes='data')
  ticker-card(class='c-color-gray-darker l-padding-v2' center horizontal layout)
    core-icon(class='c-color-gray-lighter l-margin-h2' icon='{{icon}}')
    div(flex)
      | {{data.repo.name}}
