html _deep_ {

  .c-transparent{color: transparent !important;}
  .c-bg-transparent{background-color: transparent !important;}
  .c-white{color: white !important;}
  .c-bg-white{background-color: white !important;}
  .c-gray-darkest{color: $gray-darkest !important;}
  .c-bg-gray-darkest{background-color: $gray-darkest !important;}
  .c-gray-darker{color: $gray-darker !important;}
  .c-bg-gray-darker{background-color: $gray-darker !important;}
  .c-gray-dark{color: $gray-dark !important;}
  .c-bg-gray-dark{background-color: $gray-dark !important;}
  .c-gray-light{color: $gray-light !important;}
  .c-bg-gray-light{background-color: $gray-light !important;}
  .c-gray-lighter{color: $gray-lighter !important;}
  .c-bg-gray-lighter{background-color: $gray-lighter !important;}
  .c-gray-lightest{color: $gray-lightest !important;}
  .c-gray-lightester{color: $gray-lightester !important;}
  .c-bg-gray-lightest{background-color: $gray-lightest !important;}
  .c-bg-gray-lightester{background-color: $gray-lightester !important;}
  .c-brand-primary-dark{color: $brand-primary-dark !important;}
  .c-bg-brand-primary-dark{background-color: $brand-primary-dark !important;}
  .c-brand-primary-light{color: $brand-primary-light !important;}
  .c-bg-brand-primary-light{background-color: $brand-primary-light !important;}
  .c-brand-primary-lighter{color: $brand-primary-lighter !important;}
  .c-bg-brand-primary-lighter{background-color: $brand-primary-lighter !important;}

  .c-confirm{color: $confirm !important;}
  .c-bg-confirm{background-color: $confirm !important;}
  .c-confirm-light{color: $confirm-light !important;}
  .c-bg-confirm-light{background-color: $confirm-light !important;}
  .c-error{color: $error !important;}
  .c-bg-error{background-color: $error !important;}
  .c-error-light{color: $error-light !important;}
  .c-bg-error-light{background-color: $error-light !important;}
  .c-warning-light{color: $warning-light !important;}
  .c-bg-warning-light{background-color: $warning-light !important;}
  .c-warning{color: $warning !important;}
  .c-bg-warning{background-color: $warning !important;}
  .c-notify{color: $notify !important;}
  .c-bg-notify{background-color: $notify !important;}
  .c-highlight{color: $highlight !important;}
  .c-bg-highlight{background-color: $highlight !important;}

  .c-border-transparent{border-color: transparent !important;}
  .c-border-white{border-color: white !important;}
  .c-border-gray-darkest{border-color: $gray-darkest !important;}
  .c-border-gray-darker{border-color: $gray-darker !important;}
  .c-border-gray-dark{border-color: $gray-dark !important;}
  .c-border-gray-light{border-color: $gray-light !important;}
  .c-border-gray-lighter{border-color: $gray-lighter !important;}
  .c-border-gray-lightest{border-color: $gray-lightest !important;}
  .c-border-brand-primary-dark{border-color: $brand-primary-dark !important;}
  .c-border-brand-primary-light{border-color: $brand-primary-light !important;}
  .c-border-brand-primary-lighter{border-color: $brand-primary-lighter !important;}
  .c-border-confirm{border-color: $confirm !important;}
  .c-border-confirm-light{border-color: $confirm-light !important;}
  .c-border-error{border-color: $error !important;}
  .c-border-error-light{border-color: $error-light !important;}
  .c-border-warning-light{border-color: $warning-light !important;}
  .c-border-warning{border-color: $warning !important;}
  .c-border-notify{border-color: $notify !important;}
  .c-border-highlight{border-color: $highlight !important;}
}
