// Fonts
// =====

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);
@import url(https://fonts.googleapis.com/css?family=RobotoDraft:300,400,600,400italic);

html _deep_ {

  // Sizes
  @each $fontSize in 10, 11, 12, 14, 16, 18, 20, 24, 28, 32 {
    .t-font-size-#{$fontSize} { font-size: #{$fontSize/10}rem; }
  }

  // Truncate text with an ellipsis
  .t-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .t-word-wrap-break-word {
    word-wrap: break-word;
  }

  .t-italic { font-style: italic; }
  .t-bold   { font-weight: $font-weight-semibold; }
  .t-light  { font-weight: $font-weight-light;    }
  .t-normal { font-weight: $font-weight-normal;   }

  .t-align-left  { text-align: left;  }
  .t-align-right { text-align: right; }
  .t-align-center{ text-align: center; }

  // Smoothing
  // ---------

  // This mixin overrides default anti-aliasing in Webkit and Gecko, which tends to
  // be too heavy for dark-on-light text. It is on by default. In cases
  // where text will be light-on-dark, please turn this value off.
  .t-smoothing-on  { @extend %t-smoothing-on;  }
  .t-smoothing-off { @extend %t-smoothing-off; }
}
