{
  "plugins": [
    "syntax-jsx",
    "xvdom",
    "transform-object-rest-spread",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-node-env-inline"
  ],
  "presets": [
    "es2015-rollup"
  ]
}
