{
  "parser": "babel-eslint",
  "globals": {
    "Basis": true,
    "Polymer": true,
    "Firebase": true,
    "TICKER_CONFIG": true,
    "syncState": true,
    "appState": true
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "no-loop-func": 0,
    "no-var": 2,
    "brace-style": [2, "stroustrup", {"allowSingleLine": true }],
    "camelcase": [0, {"properties": "never"}],
    "comma-dangle": "never",
    "curly": [2, "multi-line"],
    "dot-notation": 2,
    "eol-last": 0,
    "key-spacing": 0,
    "new-cap": [2, {
      "capIsNewExceptions":["Polymer", "Model", "C", "State"],
      "newIsCapExceptions":["State"]
    }],
    "new-parens": 2,
    "no-irregular-whitespace": true,
    "no-multi-spaces": 0,
    "no-multiple-empty-lines": 0,
    "no-multiple-empty-lines": 1,
    "no-spaced-func": true,
    "no-underscore-dangle": false,
    "no-unused-expressions": 0,
    "no-unused-vars": [2, {"args": "none"}],
    "quotes": [2, "single", "avoid-escape"],
    "space-before-blocks": [2, "never"],
    "strict": 0
  }
}
