ticker-event-summary {
  background : #f9fafb;
  color: #05242e;
  display: block;
  line-height: 32px !important;
  overflow: hidden;
  padding: calc(var(--h-baseline) * 4);
}

ticker-event-summary > * {
  float: left;
}


/* Actor
   ===== */

.ticker-event-summary__actor {
  font-weight: var(--font-weight-normal);
  margin-right: var(--h-baseline);
}

.ticker-event-summary__actor-avatar {
  /* Causes the wrapping of the subject
     to appear indented */
  margin-bottom: 1px;
  margin-right: calc(var(--h-baseline) * 3);
}


/* Subject
   ====== */

.ticker-event-summary__subject {
  @mixin text-truncate;

  display: inline-block;
  font-weight: var(--font-weight-normal);

  /* Prevent the subject from jumping into it's own line
     withouh being indented by the actor's avatar. */
  max-width: calc(100% - 48px);
}

.ticker-event-summary__subject__icon {
  fill: var(--color-warning);
  padding: 0 var(--h-baseline);

  width: 22px !important;
  height: 22px !important;
  margin: 0 2px;
  margin-top: -2px;
}
