/* TODO(pwong): Make sure the drawer sits above main content. This is brittle,
                breaks encapsulation and shouldn't exist. */
paper-drawer-panel .paper-drawer-panel {
  z-index: 1;
}

.App__button {
  width: 56px;
  height: 56px;
  line-height: 53px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  text-align: center;
  color: white;
}

.App__toolbar {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.App__toolbar.is-scrolling-up {
  position: fixed;
  animation: slide-down 300ms ease-out;
  -webkit-animation: slide-down 300ms ease-out;
  box-shadow: 0 3px 3px rgba(0,0,0, 0.333);
}

@media (min-width: 639px) {
  .App__button--menu {
    display: none;
  }

  .App__title {
    padding-left: 2px;
  }
}
