.Card {
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-top-color: rgba(0, 0, 0, 0.025);
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 2px;
  overflow: hidden;
  margin-bottom: 4px;
}

.Card-title, .Card-action {
  padding: 16px 16px;
}

.Card-title {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: white;
  border-bottom: 1px solid #e7ebee;
  color: #05242e;
}

.Card-title {
  align-items: baseline;
  font-size: 1.8rem;
  padding-bottom: 12px;
  line-height: 1.5;
}

.Card-action {
  align-items: center;
  background : #f9fafb;
  color: #05242e;
  line-height: 1.5;
}

.Card-action ticker-github-avatar {
  align-self: flex-start;
}

.Card-action--secondary {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0 16px 16px 32px;
}

.Card-action--secondary:last-child {
  padding-bottom: 16px;
}

.Card-action + .Card-action {
  padding-top: 0;
}
