.Card {
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-top-color: rgba(0, 0, 0, 0.025);
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 2px;
  overflow: hidden;
  margin-bottom: 4px;
}

.Card-title, .Card-subject, .Card-action {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 16px 16px;
}

.Card-subject, .Card-title {
  background: white;
  border-bottom: 1px solid #e7ebee;
  color: #05242e;
}

.Card-title {
  align-items: baseline;
  font-size: 1.8rem;
  padding-bottom: 12px;
  line-height: 1.5;
}

.Card-subject, .Card-action {
  align-items: center;
  line-height: 1.5;
}

.Card-subject {
  margin-top: -1px;
  padding-top: 0;
  padding-bottom: 8px;
}

.Card-subject:last-child {
  border-bottom-style: none;
}

.Card-action {
  background: #f9fafb;
  color: #05242e;
}

.Card-action ticker-github-avatar {
  align-self: flex-start;
}

.Card-action--wrap {
  display: block;
  overflow: hidden;
  line-height: 32px;
}

.Card-action iron-icon {
  width: 22px !important;
  height: 22px !important;
  margin: 0 2px;
  margin-top: -2px;
}

.Card-action--wrap > * {
  float: left;
}

.Card-action--wrap + .Card-action {
  clear: both;
}

.Card-action--secondary {
  padding: 0 16px 16px 32px;
}

.Card-action--secondary:last-child {
  padding-bottom: 16px;
}

.Card-action + .Card-action {
  padding-top: 0;
}
