@import 'imports';

html _deep_ {

  a {
    color: $brand-primary-light;
  }

  blockquote {
    margin: 0;
    padding: 0 ($base-width * 2);
    border-left: 4px solid $gray-lightest;
  }

  p , ul, li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  code, pre {
    font-family: $font-stack-monospace;
    background-color: lighten($gray-lightest, 5%);
    color: $gray-darker;
    line-height: 1.5;
  }

  code {
    padding: 2px ($baseline);
  }

  pre {
    padding: ($base-width * 2);
  }

  // Override default background
  core-toolbar {
    // TODO(pwong): Consider add a subtle decorative top bar
    // border-top: 6px solid $brand-primary-dark;
    // border-top: 6px solid lighten($brand-primary-light, 15%);
    background: $brand-primary-light;

    &,
    &::shadow #topBar {
      height: 56px;
      padding: 0;
    }
  }
}
