@import 'imports';

html _deep_ {

  a {
    color: $brand-primary-light;
  }

  blockquote {
    margin: 0;
    padding: 0 ($base-width * 2);
    border-left: 4px solid $gray-lightest;
  }

  p , ul, li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  code, pre {
    font-family: $font-stack-monospace;
    background-color: lighten($gray-lightest, 3%);
    border: 1px solid lighten($gray-lighter, 2%);
    color: $gray-darker;
    border-radius: 2px;
    line-height: 1.5;
  }

  code {
    padding: 0px $baseline;
  }

  pre {
    padding: ($base-width * 2);

    code {
      border-radius: 0;
      background-color: transparent;
      border: none;
    }
  }

  marked-element {
    // Make sure the image doesn't explode out of the element
    img {
      width: 100%;
    }
  }

  core-toolbar {
    background: $brand-primary-light;
    color: white;

    &,
    &::shadow #topBar {
      height: $baseline * 14;
      padding: 0;
    }

    &.core-toolbar--tabs {
      box-shadow: 0px 3px 3px #CCC;
      height: $baseline * 12;
    }
  }

  paper-input _deep_ {
    .focused-underline,
    .unfocused-underline,
    .cursor {
      background: white;
    }
  }

  paper-tab::shadow {
    #ink {
      color: white;
    }
  }

  paper-tabs::shadow {
    #selectionBar {
      background-color: white;
    }
  }
}
