$tabs-height: $baseline * 8;

html _deep_ {
  .b-tabs {
    @extend %t-truncate;
    overflow: hidden;
    margin-right: $gutter / 2;
    z-index: 1;

    .b-tabs__tab {
      color: $gray-light;
      float: left;
      font-size: 1.4rem;
      height: $tabs-height;
      line-height: $tabs-height;
      padding: 0 $gutter;
      text-align: center;
      position: relative;
      cursor: pointer;

      &.s-is-active {
        background: $gray-lightest;
        border: 1px solid $gray-lighter;
        border-bottom: none;
        color: $gray-darkest;
        height: $tabs-height + 1;
        z-index: 1;

        // rounded edges
        &:before,
        &:after {
          border: 1px solid $gray-lighter;
          bottom: 0px;
          box-shadow: -2px 2px 0 $gray-lightest;
          box-shadow: 2px 2px 0 $gray-lightest;
          content: "";
          display: inline-block;
          height: $baseline;
          position: absolute;
          width: $baseline;
        }
        &:after {
          border-bottom-left-radius: 6px;
          border-width: 0 0 1px 1px;
          box-shadow: -3px 3px 0 $gray-lightest;
          left: 100%;
        }
        &:before {
          border-bottom-right-radius: 6px;
          border-width: 0 1px 1px 0;
          box-shadow: 3px 3px 0 $gray-lightest;
          right: 100%;
        }
      }
    }
  }

  .b-tabs--bordered {
    .b-tabs__tab {
      border: 1px solid $gray-lightest;
      border-bottom: 0;
      border-top-color: transparent;
      margin-left: -1px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .b-tabs-underbar {
    background: none;
    display: block;
    height: $tabs-height;
    padding: 0 $gutter;
    position: relative;
    border-bottom: 1px solid $gray-lighter;
    z-index: 1;

    .b-tabs-underbar__tab {
      font-size: 1.4rem;
      color: $gray-light;
      cursor: pointer;
      display: block;
      float: left;
      height: 100%;
      line-height: $tabs-height;
      margin-right: $gutter;
      position: relative;

      &.s-is-active, &:hover { color: $gray-darkest; }

      &.s-is-active {
        &:before {
          @include position(absolute, 0 0 -3px 0px);
          @include linear-gradient(lighten($brand-primary-light, 20%), $brand-primary-light, $fallback: $brand-primary-light);
          border: 1px solid darken($brand-primary-light, 6%);
          box-shadow: 0px 1px 2px 0px transparentize($gray-darkest, 0.8), inset 0 0 0 1px transparentize(white, 0.9);
          content: "";
          height: $baseline - 1;
          box-sizing: border-box;
          font-size: 0;
          padding: 0;
          width: 100%;
        }
      }
    }
  }

  .b-tabs-underbar--large {
    .b-tabs-underbar__tab {
      font-size: 2.0rem;
      font-weight: $font-weight-light;
    }
  }
}
