link(rel='import' href='../../bower_components/core-drawer-panel/core-drawer-panel.html')
link(rel='import' href='../../bower_components/core-toolbar/core-toolbar.html')
link(rel='import' href='../../bower_components/core-icon/core-icon.html')
link(rel='import' href='./cards/ticker-github-avatar.html')

+polymer-element
  core-header-panel(fit mode='seamed')
    core-toolbar(class='medium-tall c-white')
      .bottom(class='l-margin-l2 l-padding-t2 t-font-size-32 t-normal')
        | ticker

    .drawer
      .drawer__item(
        class='{{ isSearching && "is-selected" }} \
               u-border-b1 c-border-gray-lighter'
        on-tap='[[stateFire.selectSearch]]')

        core-icon.drawer__item__icon(class='l-margin-r2' icon='search')
        | Search

      template(repeat='{{source, i in state.user.sources}}')
        .drawer__item(
          class='{{ { "is-selected": (!isSearching && source === state.source), \
                      "l-padding-t6": i === 0 } | tokenList }}'
          on-tap='[[stateFire.selectSource]]' fire-arg='source')
          
          template(if='{{source.constructor.name === "GithubRepoSource"}}')
            core-icon.drawer__item__icon(class='l-margin-r2' icon='github:repo')
          template(if='{{source.constructor.name === "GithubUserSource"}}')
            ticker-github-avatar(class='l-margin-l1 l-margin-r2' avatarUrl='{{source.details.avatarUrl}}')
          | {{source.name}}
