@import 'bourbon';
@import 'imports';

paper-fab {
  position: fixed;
  top: $baseline * 25;
  right: $baseline * 9;
  color: white;
}

core-header-panel _deep_ #dropShadow {
  display: none;
}

core-drawer-panel[narrow] {
  paper-fab {
    top: auto;
    right: $baseline * 4;
    bottom: $baseline * 4;
  }
  core-header-panel[drawer] {
    background: white;
  }

  ticker-github-events-card {
    margin-right: 0;
  }
}

.drawer__item {
  align-items: center;
  cursor: pointer;
  color: $gray-darker;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-weight: $font-weight-light;
  font-size: 1.6rem;
  padding: ($baseline*3) ($base-width*4);

  // States
  // ------
  &.is-selected {
    &,
    .drawer__item__icon {
      font-weight: $font-weight-normal !important;
      color: $gray-darker !important;
    }
  }
}

.toolbar__title {
  line-height: 56px;
}

ticker-github-events-card {
  margin-right: $base-width * 30;
}
