link(rel='import' href='../../vendor/highlightjs/highlightjs-import.html')
  
polymer-element(
  name='ticker-highlight-syntax'
  extends='pre'
  attributes='source language')
  script.
    Polymer({
      ready:function(){
        if(this.language && this.source)
          this.innerHTML = hljs.highlight(this.language, this.source || '').value;
      }
    })
