ticker-events {
  display: block;
  position: relative;
}

#eventsContainer.is-fading-in {
  background-color: var(--gray-lightest);
  animation: fade-in 150ms ease-out forwards;
  -webkit-animation: fade-in 150ms ease-out forwards;
}

@media (min-width: 639px) {
  #eventsContainer {
    padding: 0 8px;
  }
}
