@import 'bourbon';
@import 'imports';

:host {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom:  0;
  left: 0;
}

core-scroll-header-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom:  0;
  left: 0;

  /* background for toolbar when it is at its full size */
  &::shadow #headerBg {
    background-color: $brand-primary-light;
  }

  /* background for toolbar when it is condensed */
  &::shadow #condensedHeaderBg {
    background-color: #f4b400;
  }
}

.ticker-app__title-text {
  padding-left: $base-width*11;
  font-size: 28px;
}
