+import('../../bower_components/core-icons/core-icons.html')
+import('../../bower_components/core-scroll-header-panel/core-scroll-header-panel.html')
+import('../../bower_components/core-toolbar/core-toolbar.html')
+import('../../bower_components/paper-icon-button/paper-icon-button.html')
+import('../../bower_components/paper-tabs/paper-tabs.html')
+import('./cards/ticker-github-events-card.html')

+polymer-element
  template#github-commit-card
    ticker-github-events-card(
      data="[[event]]"
      class='l-margin-t2 l-margin-l2 l-width100-gutter-r'
    )

  core-scroll-header-panel(
    condenses
    on-core-header-transform='{{onCoreHeaderTransform}}'
  )
    core-toolbar(class='tall')
      paper-icon-button(icon="menu")
      span(flex)
      paper-icon-button(icon="search")
      #titleText.bottom.ticker-app__title-text
        | Polymer

    .content
      template(ref="github-commit-card" repeat="{{ event in githubEvents }}")
