+import('../../bower_components/core-icons/core-icons.html')
+import('../../bower_components/core-scroll-header-panel/core-scroll-header-panel.html')
+import('../../bower_components/core-toolbar/core-toolbar.html')
+import('../../bower_components/paper-icon-button/paper-icon-button.html')
+import('../../bower_components/paper-tabs/paper-tabs.html')
+import('./cards/ticker-github-events-card.html')

+polymer-element
  core-scroll-header-panel(
    condenses
    on-core-header-transform='{{onCoreHeaderTransform}}'
  )
    core-toolbar(class='tall')
      paper-icon-button(icon="menu")
      span(flex)
      paper-icon-button(icon="search")
      #titleText.bottom(class='l-padding-l6 l-margin-l4 t-normal t-font-size-32')
        | Polymer

    .content(class='l-padding-2')
      template(repeat='{{ event in githubEvents }}')
        ticker-github-events-card(block class='l-margin-b1' data="[[event]]")
