@import 'bourbon';
@import 'imports';

.drawer__item {
  color: $gray-dark;
  font-weight: $font-weight-normal;
  line-height: $baseline * 8;
  padding: 0 ($base-width * 2);

  // Variants
  // --------
  &--header {
    line-height: $baseline * 4;
    border: 1px solid $gray-lighter;
    border-style: solid none;
  }

  // States
  // ------
  &.is-selected {
    &,
    .drawer__item__icon {
      color: $gray-darkest;
    }
  }

  // Children
  // --------
  .drawer__item__icon {
    color: $gray-light;
    margin-right: $base-width * 2;
  }
}

.ticker-app__content {
  padding-top: 66px; // Height of toolbar
}

.toolbar__title {
  line-height: 56px;
}
