link(rel='import' href='../../bower_components/core-drawer-panel/core-drawer-panel.html')
link(rel='import' href='../../bower_components/core-icons/core-icons.html')

link(rel='import' href='./ticker-drawer.html')
link(rel='import' href='./ticker-login.html')
link(rel='import' href='./ticker-search.html')
link(rel='import' href='./ticker-source-github-repo.html')
link(rel='import' href='./ticker-source-github-user.html')
link(rel='import' href='./ticker-stream.html')

+polymer-element
  //- Logged In Views
  //- ===============
  template#source-GithubRepoSource
    ticker-source-github-repo(isNarrow='{{isNarrow}}' main)
  
  template#source-GithubUserSource
    ticker-source-github-user(isNarrow='{{isNarrow}}' main)
  
  template#search
    ticker-search(isNarrow='{{isNarrow}}' main)
  
  //- Logged In
  //- =========
  template(if='{{state.user}}')
    core-drawer-panel#drawerPanel(
      disableSwipe='[[DRAWER_SWIPE_DISABLED]]'
      drawerWidth='320px'
      selected='{{ state.appDrawerOpened | openedToSelected }}')
  
      template(ref='{{state.appView}}' bind='[[]]')
      ticker-drawer(drawer)
  
  //- Logged Out
  //- ==========
  template(if='{{!state.user}}')
    ticker-login
