link(rel='import' href='../../bower_components/paper-button/paper-button.html')

+polymer-element()(nocss)

  div(class='c-bg-brand-primary-light l-padding-h4' style='padding-top: 84px')
    div(class='c-white t-normal t-font-size-32')
      | ticker
      span(class='t-font-size-16')
        | &nbsp; commits. pull requests. comments. tweets. forum posts.

    paper-button(
      class='c-bg-white c-brand-primary-light l-margin-v6 l-padding-h4 t-normal t-font-size-16'
      icon='github:octoface'
      on-click='[[stateFire.authWithGithub]]')
      | Login with GitHub
