+import('../../bower_components/core-drawer-panel/core-drawer-panel.html')
+import('../../bower_components/core-icons/core-icons.html')

+import('./ticker-drawer.html')
+import('./ticker-login.html')
+import('./ticker-search.html')
+import('./ticker-stream.html')

+polymer-element

  template#stream
    ticker-stream(isNarrow='{{isNarrow}}' main)

  template#search
    ticker-search(isNarrow='{{isNarrow}}' main)

  template(if='{{!state.user}}')
    ticker-login

  template(if='{{state.user}}')
    core-drawer-panel#drawerPanel(
      disableSwipe='[[DRAWER_SWIPE_DISABLED]]'
      drawerWidth='320px'
      narrow='{{isNarrow}}'
      selected='{{state.appDrawerOpened | openedToSelected}}')

      template(ref='{{state.mainView}}' bind='[[]]')
      ticker-drawer(drawer)
