@import '../css/colors.css';
@import '../css/flex.css';
@import '../css/layout.css';
@import '../css/link.css';
@import '../css/text.css';

html {
  font-size: 10px;
}
body {
  background-color: hsl(0, 0%, 92%);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
blockquote {
  margin: 0;
  padding: 0 8px;
  border-left: 4px solid hsl(206, 19%, 92%);
}
pre, p, ul, li {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5 {
  line-height: 1.3;
  font-size: 2.8rem;
  font-weight: 500;
  margin: 28px 0 16px 0;
  padding: 0;
}
h2, h3, h4, h5 {
  font-size: 2.2rem;
}
li {
  list-style-type: none;
}
pre {
  font-family: "Source Code Pro", monospace;
}
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: hsl(198, 0, 87%);
}
.u-pointer-cursor {
  cursor: pointer;
}
.App__content {
  padding-top: 56px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.icon-24 {
  font-size: 24px !important;
}

.icon-32 {
  font-size: 32px !important;
}
