@import '../css/flex.css';
@import '../css/layout.css';

html {
  font-size: 10px;
}
body {
  background-color: hsl(0, 0%, 92%);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}
a {
  color: inherit;
  text-decoration: none;
}
blockquote {
  margin: 0;
  padding: 0 8px;
  border-left: 4px solid hsl(206, 19%, 92%);
}
p, ul, li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
code, pre {
  font-family: "Source Code Pro", monospace;
  background-color: #f0f3f5;
  border: 1px solid #dee5e7;
  color: #586f74;
  border-radius: 2px;
}
code {
  padding: 0px 4px;
}
pre {
  padding: 8px;
}
pre code {
  border-radius: 0;
  background-color: transparent;
  border: none;
}
marked-element img {
  width: 100%;
}
::-webkit-input-placeholder {
  color: hsl(198, 0, 87%);
}
::-moz-placeholder {
  color: hsl(198, 0, 87%);
}
:-ms-input-placeholder {
  color: hsl(198, 0, 87%);
}
::placeholder {
  color: hsl(198, 0, 87%);
}
.u-pointer-cursor {
  cursor: pointer;
}
.t-font-size-11 {
  font-size: 1.1rem !important;
}
.t-font-size-20 {
  font-size: 2rem !important;
}
.t-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.t-word-wrap-break-word {
  word-wrap: break-word;
}
.t-italic {
  font-style: italic;
}
.t-light {
  font-weight: 400 !important;
}
.t-normal {
  font-weight: 500 !important;
}
.t-align-left {
  text-align: left;
}
.t-align-right {
  text-align: right;
}
.t-align-center {
  text-align: center;
}
.t-nowrap {
  white-space: nowrap;
}
.c-gray-darkest {
  color: hsl(195, 0%, 10%) !important;
  fill: hsl(195, 0%, 10%) !important;
}
.c-gray-dark {
  color: hsl(192, 0%, 50%) !important;
  fill: hsl(192, 0%, 50%) !important;
}
.c-gray-light {
  color: hsl(191, 0%, 73%) !important;
  fill: hsl(191, 0%, 73%) !important;
}
.c-bg-white {
  background-color: #FFF;
}
.App__placeholderCard {
  margin: 0 8px;
}
@media (min-width: 639px) {
  .App__placeholderCard {
    margin: 0 auto;
    max-width: 620px;
  }
}
.App__content {
  padding-top: 56px;
}
.App__toolbar {
  background: #3F51B5;
  color: white;
  height: 56px;
  line-height: 56px;
  transition: -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out;
  transform: translate3d(0,0,0);
}
.App__toolbar.is-scrolling-down {
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}
@media (min-width: 639px) {
  .App__title {
    padding-left: 2px;
  }
}
.Card {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-color: #FFF;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-bottom-width: 2px;
  overflow: hidden;
  margin-top: 8px;
}
.Card + .Card {
  margin-top: 4px;
}
.Card-title {
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  background: white;
  color: #05242e;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  line-height: 24px;
  height: 24px;
  padding: 16px 16px 0 16px;
}
.ticker-avatar-icon {
  background: hsl(206, 19%, 92%);
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.ticker-event__action {
  padding: 0 16px 16px 32px;
}
.ticker-event__action__text {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 4px;
}

.icon-24 {
  font-size: 24px !important;
}

.icon-32 {
  font-size: 32px !important;
}

.material-icons {
  min-width: 24px;
}

.material-icons,
.octicon {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.ticker-material-icons-loaded .material-icons,
.ticker-octicons-loaded .octicon {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.octicon {
  font-size: 32px;
  min-width: 32px;
  min-height: 32px;
}
