@import '../css/colors.css';
@import '../css/flex.css';
@import '../css/layout.css';

html {
  font-size: 10px;
}
body {
  background-color: hsl(0, 0%, 92%);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3 {
  font-weight: 500;
  line-height: 1.2;
}
a {
  color: inherit;
  text-decoration: none;
}
blockquote {
  margin: 0;
  padding: 0 8px;
  border-left: 4px solid hsl(206, 19%, 92%);
}
p, ul, li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
pre {
  margin: 0;
  font-family: "Source Code Pro", monospace;
}
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: hsl(198, 0, 87%);
}
.u-pointer-cursor {
  cursor: pointer;
}
.t-font-size-11 {
  font-size: 1.1rem !important;
}
.t-font-size-18 {
  font-size: 1.8rem !important;
}
.t-font-size-20 {
  font-size: 2rem !important;
}
.t-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.t-word-wrap-break-word {
  word-wrap: break-word;
}
.t-light {
  font-weight: 400 !important;
}
.t-normal {
  font-weight: 500 !important;
}
.t-align-center {
  text-align: center;
}
.App__content {
  padding-top: 60px;
}
.App__toolbar {
  background: #3F51B5;
  color: white;
  height: 56px;
  line-height: 56px;
  transition: -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out;
  transform: translate3d(0,0,0);
  z-index: 1;
}
.App__toolbar.is-scrolling-down {
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}
.Card {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-color: #FFF;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-bottom-width: 2px;
  overflow: hidden;
  margin: 4px 8px 0 8px;
}
@media (min-width: 639px) {
  .Card {
    margin: 4px auto 0 auto;
    max-width: 620px;
  }
}
.Card-title {
  color: #05242e;
  font-size: 1.8rem;
  line-height: 24px;
  height: 24px;
  padding: 16px 16px 0 16px;
}
.ticker-event__action {
  padding: 0 16px 16px 32px;
}

.icon-24 {
  font-size: 24px !important;
}

.icon-32 {
  font-size: 32px !important;
}

.material-icons {
  min-width: 24px;
}

.material-icons,
.octicon {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.ticker-material-icons-loaded .material-icons,
.ticker-octicons-loaded .octicon {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.octicon {
  font-size: 32px;
  min-width: 32px;
  min-height: 32px;
}
