@import '../css/flex.css';
@import '../css/layout.css';

html {
  font-size: 10px;
}
body {
  background-color: hsl(206, 19%, 92%);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1;
  text-rendering: optimizeSpeed;
}
a {
  color: inherit;
  text-decoration: none;
}
blockquote {
  margin: 0;
  padding: 0 8px;
  border-left: 4px solid hsl(206, 19%, 92%);
}
p, ul, li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
code, pre {
  font-family: "Source Code Pro", monospace;
  background-color: #f0f3f5;
  border: 1px solid #dee5e7;
  color: #586f74;
  border-radius: 2px;
  line-height: 1.5;
}
code {
  padding: 0px 4px;
}
pre {
  padding: 8px;
}
pre code {
  border-radius: 0;
  background-color: transparent;
  border: none;
}
marked-element img {
  width: 100%;
}
::-webkit-input-placeholder {
  color: hsl(198, 16%, 87%);
}
::-moz-placeholder {
  color: hsl(198, 16%, 87%);
}
:-ms-input-placeholder {
  color: hsl(198, 16%, 87%);
}
::placeholder {
  color: hsl(198, 16%, 87%);
}
.u-border-1 {
  border-width: 1px !important;
  border-style: solid !important;
}
.u-border-b1 {
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
}
.u-border-radius-2 {
  border-radius: 2px !important;
}
.c-confirm {
  color: #72bd61 !important;
  fill: #72bd61 !important;
}
.c-bg-confirm {
  background-color: #72bd61 !important;
}
.c-border-confirm {
  border-color: #72bd61 !important;
}
.c-confirm-light {
  color: #98cf8c !important;
  fill: #98cf8c !important;
}
.c-bg-confirm-light {
  background-color: #98cf8c !important;
}
.c-border-confirm-light {
  border-color: #98cf8c !important;
}
.c-error {
  color: #f44856 !important;
  fill: #f44856 !important;
}
.c-bg-error {
  background-color: #f44856 !important;
}
.c-border-error {
  border-color: #f44856 !important;
}
.c-error-light {
  color: #f44856 !important;
  fill: #f44856 !important;
}
.c-bg-error-light {
  background-color: #f44856 !important;
}
.c-border-error-light {
  border-color: #f44856 !important;
}
.c-highlight {
  color: #fef9ec !important;
  fill: #fef9ec !important;
}
.c-bg-highlight {
  background-color: #fef9ec !important;
}
.c-border-highlight {
  border-color: #fef9ec !important;
}
.c-notify {
  color: #f7e3b1 !important;
  fill: #f7e3b1 !important;
}
.c-bg-notify {
  background-color: #f7e3b1 !important;
}
.c-border-notify {
  border-color: #f7e3b1 !important;
}
.c-warning {
  color: #fca431 !important;
  fill: #fca431 !important;
}
.c-bg-warning {
  background-color: #fca431 !important;
}
.c-border-warning {
  border-color: #fca431 !important;
}
.c-warning-light {
  color: #fdcc8b !important;
  fill: #fdcc8b !important;
}
.c-bg-warning-light {
  background-color: #fdcc8b !important;
}
.c-border-warning-light {
  border-color: #fdcc8b !important;
}
.c-transparent {
  color: rgba(255, 255, 255, 0) !important;
  fill: rgba(255, 255, 255, 0) !important;
}
.c-bg-transparent {
  background-color: rgba(255, 255, 255, 0) !important;
}
.c-border-transparent {
  border-color: rgba(255, 255, 255, 0) !important;
}
.c-white {
  color: #FFF !important;
  fill: #FFF !important;
}
.c-bg-white {
  background-color: #FFF !important;
}
.c-border-white {
  border-color: #FFF !important;
}
.c-black {
  color: #000 !important;
  fill: #000 !important;
}
.c-bg-black {
  background-color: #000 !important;
}
.c-border-black {
  border-color: #000 !important;
}
.c-gray-darkest {
  color: hsl(195, 80%, 10%) !important;
  fill: hsl(195, 80%, 10%) !important;
}
.c-bg-gray-darkest {
  background-color: hsl(195, 80%, 10%) !important;
}
.c-border-gray-darkest {
  border-color: hsl(195, 80%, 10%) !important;
}
.c-gray-darker {
  color: hsl(192, 14%, 40%) !important;
  fill: hsl(192, 14%, 40%) !important;
}
.c-bg-gray-darker {
  background-color: hsl(192, 14%, 40%) !important;
}
.c-border-gray-darker {
  border-color: hsl(192, 14%, 40%) !important;
}
.c-gray-dark {
  color: hsl(192, 14%, 50%) !important;
  fill: hsl(192, 14%, 50%) !important;
}
.c-bg-gray-dark {
  background-color: hsl(192, 14%, 50%) !important;
}
.c-border-gray-dark {
  border-color: hsl(192, 14%, 50%) !important;
}
.c-gray-light {
  color: hsl(191, 15%, 73%) !important;
  fill: hsl(191, 15%, 73%) !important;
}
.c-bg-gray-light {
  background-color: hsl(191, 15%, 73%) !important;
}
.c-border-gray-light {
  border-color: hsl(191, 15%, 73%) !important;
}
.c-gray-lighter {
  color: hsl(198, 16%, 87%) !important;
  fill: hsl(198, 16%, 87%) !important;
}
.c-bg-gray-lighter {
  background-color: hsl(198, 16%, 87%) !important;
}
.c-border-gray-lighter {
  border-color: hsl(198, 16%, 87%) !important;
}
.c-gray-lightest {
  color: hsl(206, 19%, 92%) !important;
  fill: hsl(206, 19%, 92%) !important;
}
.c-bg-gray-lightest {
  background-color: hsl(206, 19%, 92%) !important;
}
.c-border-gray-lightest {
  border-color: hsl(206, 19%, 92%) !important;
}
.u-pointer-cursor {
  cursor: pointer;
}
@-webkit-keyframes slide-down {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-down {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.t-font-size-11 {
  font-size: 1.1rem !important;
}
.t-font-size-16 {
  font-size: 1.6rem !important;
}
.t-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.t-word-wrap-break-word {
  word-wrap: break-word;
}
.t-italic {
  font-style: italic;
}
.t-light {
  font-weight: 300 !important;
}
.t-normal {
  font-weight: 400 !important;
}
.t-align-left {
  text-align: left;
}
.t-align-right {
  text-align: right;
}
.t-align-center {
  text-align: center;
}
.t-nowrap {
  white-space: nowrap;
}

.App__placeholderCard__summary {
  background: #f9fafb;
  line-height: 32px;
  padding: 16px;
}
.App__placeholderCard__avatar {
  background-color: hsl(206, 19%, 92%);
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  overflow: hidden;
  width: 32px;
}
@media (min-width: 639px) {
  .App__placeholderCard {
    margin: 0 8px;
  }
}
.App__button {
  width: 56px;
  height: 56px;
  line-height: 53px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  text-align: center;
  color: white;
}
.App__toolbar {
  display: block;
  background: #3F51B5;
  color: white;
  height: 56px;
  line-height: 56px;
}
.App__toolbar.is-scrolling-up {
  position: fixed;
  -webkit-animation: slide-down 300ms ease-out;
  animation: slide-down 300ms ease-out;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.333);
}
@media (min-width: 639px) {
  .App__button--menu {
    display: none;
  }
  .App__title {
    padding-left: 2px;
  }
}
.Card {
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-top-color: rgba(0, 0, 0, 0.025);
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 2px;
  overflow: hidden;
  margin-bottom: 4px;
}
.Card + .Card {
  margin-top: 4px;
}
.Card-title {
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  background: white;
  border-bottom: 1px solid #e7ebee;
  color: #05242e;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  line-height: 24px;
  height: 24px;
  padding: 16px;
  padding-bottom: 12px;
}
.PlaceholderText {
  display: inline-block;
  height: 16px;
  width: 100px;
  background-color: hsl(206, 19%, 92%);
  margin: 4px 0;
}
.ticker-events {
  display: block;
  position: relative;
}
#eventsContainer.is-fading-in {
  background-color: hsl(206, 19%, 92%);
  -webkit-animation: fade-in 150ms ease-out forwards;
  animation: fade-in 150ms ease-out forwards;
}
@media (min-width: 639px) {
  #eventsContainer {
    padding: 0 8px;
  }
}
ticker-avatar {
  text-align: center;
}
.ticker-avatar-icon {
  border-radius: 50%;
  overflow: hidden;
  background: hsl(206, 19%, 92%);
}
ticker-avatar, .ticker-avatar-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.ticker-event-summary {
  background: #f9fafb;
  color: #05242e;
  display: block;
  line-height: 32px !important;
  overflow: hidden;
  padding: 16px;
}
.ticker-event-summary__actor {
  font-weight: 400;
  margin-right: 4px;
}
.ticker-event-summary__actor-avatar {
  margin-bottom: 1px;
  margin-right: 12px;
}
.ticker-event-summary__subject {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  font-weight: 400;
  max-width: calc(100% - 48px);
}
.ticker-event-summary__subject__icon {
  fill: #fca431;
  padding: 0 4px;
  width: 22px !important;
  height: 22px !important;
  margin-top: -2px;
}
.ticker-event__action {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f9fafb;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
  padding: 0 16px 16px 32px;
}
.ticker-event__action__icon {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  fill: hsl(191, 15%, 73%);
}
.ticker-event__action__text {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 4px;
}

.icon-24,
.octicon {
  font-size: 24px !important;
}

.icon-32 {
  font-size: 32px !important;
}
