.AppSearch {
  -webkit-transform: scale(0);
  transform: scale(0);
  z-index: 1;
}
.AppSearch.is-enabled {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*
TODO(pwong): Simplify into a rectangle moving in from the left
Noone can actual see it's a circle! :)
*/
.AppSearch-inkdrop {
  width: 200vw;
  height: 200vw;
  border-radius: 50%;
  background: white;
  right: 32px;
  left: auto;
  top: 50%;
  z-index: -1;

  -webkit-transform: translate(50%, -50%) scale(0);
  transform: translate(50%, -50%) scale(0);
  transition: -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out;
}

.AppSearch.is-enabled .AppSearch-inkdrop {
  -webkit-transform: translate(50%, -50%) scale(1);
  transform: translate(50%, -50%) scale(1);
}

.AppSearch-searchInputContainer {
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
}

.AppSearch-searchInput {
  border: none;
  box-sizing: border-box;
  font-size: 2rem;
  height: 48px;
  line-height: 48px;
  outline: 0;
  background: transparent;
}

.AppSearch-searchBar {
  opacity: 0;
  position: relative;
  transition-delay: 250ms;
  transition: opacity 100ms ease-out;
}

.AppSearch.is-enabled .AppSearch-searchBar {
  opacity: 1;
}

.AppSearch-searchResults {
  background: white;
  margin-top: -3px;
  border-radius: 0 0 2px 2px;
}
