.AppToolbar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  transition:
    -webkit-transform 150ms ease-out,
    transform 150ms ease-out,
    opacity 300ms ease-out,
    background 300ms ease-out;
  z-index: 1;
}

.AppToolbar.is-scrolling-down {
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}
