.CommitView-fileContents {
  color: #444;
  overflow-x: scroll;
}

.CommitView-fileContents > span {
  display: inline-block;
  padding: 2px 12px;
}

.CommitView-fileContents .hljs-addition {
  color: #060;
  background: rgba(112, 255, 112, 0.1);
}

.CommitView-fileContents .hljs-deletion {
  color: #D11;
  background: rgba(255, 112, 112, 0.1);
}
