.c-gray-dark {
  color: hsl(192, 0%, 55%) !important;
}
.c-white {
  color: #FFF !important;
}
.c-green {
  color : #0A0;
}
.c-red {
  color: #C00;
}
.c-bg-white {
  background-color: #FFF;
}
.c-opacity-50 {
  opacity: 0.5;
}
.bg-green {
  background: rgba(112, 255, 112, 0.1);
}
.bg-red {
  background: rgba(255, 112, 112, 0.1);
}
.bg-purple {
  background: #3F51B5 !important;
}
