
.c-gray-darkest {
  color: hsl(195, 0%, 10%) !important;
  fill: hsl(195, 0%, 10%) !important;
}
.c-gray-dark {
  color: hsl(192, 0%, 50%) !important;
  fill: hsl(192, 0%, 50%) !important;
}
.c-gray-light {
  color: hsl(191, 0%, 73%) !important;
  fill: hsl(191, 0%, 73%) !important;
}
.c-gray-lighter {
  color: hsl(191, 0%, 85%) !important;
  fill: hsl(191, 0%, 85%) !important;
}
.c-white {
  color: #FFF !important;
  fill: #FFF !important;
}
.c-green {
  color : #0A0;
}
.c-red {
  color: #C00;
}
.c-bg-white {
  background-color: #FFF;
}

.bg-green {
  background: rgba(112, 255, 112, 0.1);
}

.bg-red {
  background: rgba(255, 112, 112, 0.1);
}

.bg-purple {
  background: #3F51B5 !important;
}
