.l-clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.l-clear-r {
  clear: right !important;
}
.l-clear-l {
  clear: left !important;
}
.l-float-r {
  float: right !important;
}
.l-float-l {
  float: left !important;
}
.l-visibility-hidden {
  visibility: hidden !important;
}
.l-visibility-visible {
  visibility: visible !important;
}
.l-display-inline-block {
  display: inline-block !important;
}
.l-display-block {
  display: block !important;
}
.l-overflow-hidden {
  overflow: hidden !important;
}
.l-overflow-auto {
  overflow: auto !important;
}
.l-overflow-x-auto {
  overflow-x: auto !important;
}
.l-overflow-y-auto {
  overflow-y: auto !important;
}
.l-overflow-scroll-ios {
  overflow: scroll !important;
  -webkit-overflow-scrolling: touch !important;
}
.l-position-static {
  position: static !important;
}
.l-position-relative {
  position: relative !important;
}
.l-position-absolute {
  position: absolute !important;
}
.l-position-fixed {
  position: fixed !important;
}
.l-padding-25pct {
  padding: 1px 1px !important;
}
.l-padding-50pct {
  padding: 2px 2px !important;
}
.l-padding-75pct {
  padding: 3px 3px !important;
}
.l-padding-v25pct {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
.l-padding-h25pct {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.l-padding-v50pct {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.l-padding-h50pct {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.l-padding-v75pct {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.l-padding-h75pct {
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.l-padding-r25pct {
  padding-right: 1px !important;
}
.l-padding-l25pct {
  padding-left: 1px !important;
}
.l-padding-t25pct {
  padding-top: 1px !important;
}
.l-padding-b25pct {
  padding-bottom: 1px !important;
}
.l-padding-r50pct {
  padding-right: 2px !important;
}
.l-padding-l50pct {
  padding-left: 2px !important;
}
.l-padding-t50pct {
  padding-top: 2px !important;
}
.l-padding-b50pct {
  padding-bottom: 2px !important;
}
.l-padding-r75pct {
  padding-right: 3px !important;
}
.l-padding-l75pct {
  padding-left: 3px !important;
}
.l-padding-t75pct {
  padding-top: 3px !important;
}
.l-padding-b75pct {
  padding-bottom: 3px !important;
}
.l-padding-0 {
  padding: 0px 0px !important;
}
.l-padding-1 {
  padding: 4px 4px !important;
}
.l-padding-2 {
  padding: 8px 8px !important;
}
.l-padding-3 {
  padding: 12px 12px !important;
}
.l-padding-4 {
  padding: 16px 16px !important;
}
.l-padding-5 {
  padding: 20px 20px !important;
}
.l-padding-6 {
  padding: 24px 24px !important;
}
.l-padding-h0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.l-padding-v0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.l-padding-h1 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.l-padding-v1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.l-padding-h2 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.l-padding-v2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.l-padding-h3 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.l-padding-v3 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.l-padding-h4 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.l-padding-v4 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.l-padding-h5 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.l-padding-v5 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.l-padding-h6 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.l-padding-v6 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.l-padding-r0 {
  padding-right: 0px !important;
}
.l-padding-l0 {
  padding-left: 0px !important;
}
.l-padding-t0 {
  padding-top: 0px !important;
}
.l-padding-b0 {
  padding-bottom: 0px !important;
}
.l-padding-r1 {
  padding-right: 4px !important;
}
.l-padding-l1 {
  padding-left: 4px !important;
}
.l-padding-t1 {
  padding-top: 4px !important;
}
.l-padding-b1 {
  padding-bottom: 4px !important;
}
.l-padding-r2 {
  padding-right: 8px !important;
}
.l-padding-l2 {
  padding-left: 8px !important;
}
.l-padding-t2 {
  padding-top: 8px !important;
}
.l-padding-b2 {
  padding-bottom: 8px !important;
}
.l-padding-r3 {
  padding-right: 12px !important;
}
.l-padding-l3 {
  padding-left: 12px !important;
}
.l-padding-t3 {
  padding-top: 12px !important;
}
.l-padding-b3 {
  padding-bottom: 12px !important;
}
.l-padding-r4 {
  padding-right: 16px !important;
}
.l-padding-l4 {
  padding-left: 16px !important;
}
.l-padding-t4 {
  padding-top: 16px !important;
}
.l-padding-b4 {
  padding-bottom: 16px !important;
}
.l-padding-r5 {
  padding-right: 20px !important;
}
.l-padding-l5 {
  padding-left: 20px !important;
}
.l-padding-t5 {
  padding-top: 20px !important;
}
.l-padding-b5 {
  padding-bottom: 20px !important;
}
.l-padding-r6 {
  padding-right: 24px !important;
}
.l-padding-l6 {
  padding-left: 24px !important;
}
.l-padding-t6 {
  padding-top: 24px !important;
}
.l-padding-b6 {
  padding-bottom: 24px !important;
}
.l-margin-25pct {
  margin: 1px 1px !important;
}
.l-margin-50pct {
  margin: 2px 2px !important;
}
.l-margin-75pct {
  margin: 3px 3px !important;
}
.l-margin-v25pct {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}
.l-margin-h25pct {
  margin-left: 1px !important;
  margin-right: 1px !important;
}
.l-margin-v50pct {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.l-margin-h50pct {
  margin-left: 2px !important;
  margin-right: 2px !important;
}
.l-margin-v75pct {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}
.l-margin-h75pct {
  margin-left: 3px !important;
  margin-right: 3px !important;
}
.l-margin-r25pct {
  margin-right: 1px !important;
}
.l-margin-l25pct {
  margin-left: 1px !important;
}
.l-margin-t25pct {
  margin-top: 1px !important;
}
.l-margin-b25pct {
  margin-bottom: 1px !important;
}
.l-margin-r50pct {
  margin-right: 2px !important;
}
.l-margin-l50pct {
  margin-left: 2px !important;
}
.l-margin-t50pct {
  margin-top: 2px !important;
}
.l-margin-b50pct {
  margin-bottom: 2px !important;
}
.l-margin-r75pct {
  margin-right: 3px !important;
}
.l-margin-l75pct {
  margin-left: 3px !important;
}
.l-margin-t75pct {
  margin-top: 3px !important;
}
.l-margin-b75pct {
  margin-bottom: 3px !important;
}
.l-margin-0 {
  margin: 0px 0px !important;
}
.l-margin-1 {
  margin: 4px 4px !important;
}
.l-margin-2 {
  margin: 8px 8px !important;
}
.l-margin-3 {
  margin: 12px 12px !important;
}
.l-margin-4 {
  margin: 16px 16px !important;
}
.l-margin-5 {
  margin: 20px 20px !important;
}
.l-margin-6 {
  margin: 24px 24px !important;
}
.l-margin-h0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.l-margin-v0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.l-margin-h1 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.l-margin-v1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.l-margin-h2 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.l-margin-v2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.l-margin-h3 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.l-margin-v3 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.l-margin-h4 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.l-margin-v4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.l-margin-h5 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.l-margin-v5 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.l-margin-h6 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
.l-margin-v6 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.l-margin-r0 {
  margin-right: 0px !important;
}
.l-margin-l0 {
  margin-left: 0px !important;
}
.l-margin-t0 {
  margin-top: 0px !important;
}
.l-margin-b0 {
  margin-bottom: 0px !important;
}
.l-margin-r1 {
  margin-right: 4px !important;
}
.l-margin-l1 {
  margin-left: 4px !important;
}
.l-margin-t1 {
  margin-top: 4px !important;
}
.l-margin-b1 {
  margin-bottom: 4px !important;
}
.l-margin-r2 {
  margin-right: 8px !important;
}
.l-margin-l2 {
  margin-left: 8px !important;
}
.l-margin-t2 {
  margin-top: 8px !important;
}
.l-margin-b2 {
  margin-bottom: 8px !important;
}
.l-margin-r3 {
  margin-right: 12px !important;
}
.l-margin-l3 {
  margin-left: 12px !important;
}
.l-margin-t3 {
  margin-top: 12px !important;
}
.l-margin-b3 {
  margin-bottom: 12px !important;
}
.l-margin-r4 {
  margin-right: 16px !important;
}
.l-margin-l4 {
  margin-left: 16px !important;
}
.l-margin-t4 {
  margin-top: 16px !important;
}
.l-margin-b4 {
  margin-bottom: 16px !important;
}
.l-margin-r5 {
  margin-right: 20px !important;
}
.l-margin-l5 {
  margin-left: 20px !important;
}
.l-margin-t5 {
  margin-top: 20px !important;
}
.l-margin-b5 {
  margin-bottom: 20px !important;
}
.l-margin-r6 {
  margin-right: 24px !important;
}
.l-margin-l6 {
  margin-left: 24px !important;
}
.l-margin-t6 {
  margin-top: 24px !important;
}
.l-margin-b6 {
  margin-bottom: 24px !important;
}
.l-height7 {
  height: 28px !important;
}
.l-width100pct {
  width: 100% !important;
}
.l-height100pct {
  height: 100% !important;
}
