.l-padding-0 {
  padding: 0px !important;
}
.l-padding-1 {
  padding: 4px !important;
}
.l-padding-2 {
  padding: 8px !important;
}
.l-padding-3 {
  padding: 12px !important;
}
.l-padding-4 {
  padding: 16px !important;
}
.l-padding-5 {
  padding: 20px !important;
}
.l-padding-6 {
  padding: 24px !important;
}
.l-padding-h0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.l-padding-v0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.l-padding-h1 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.l-padding-v1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.l-padding-h2 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.l-padding-v2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.l-padding-h3 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.l-padding-v3 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.l-padding-h4 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.l-padding-v4 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.l-padding-h5 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.l-padding-v5 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.l-padding-h6 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.l-padding-v6 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.l-padding-r0 {
  padding-right: 0px !important;
}
.l-padding-l0 {
  padding-left: 0px !important;
}
.l-padding-t0 {
  padding-top: 0px !important;
}
.l-padding-b0 {
  padding-bottom: 0px !important;
}
.l-padding-r1 {
  padding-right: 4px !important;
}
.l-padding-l1 {
  padding-left: 4px !important;
}
.l-padding-t1 {
  padding-top: 4px !important;
}
.l-padding-b1 {
  padding-bottom: 4px !important;
}
.l-padding-r2 {
  padding-right: 8px !important;
}
.l-padding-l2 {
  padding-left: 8px !important;
}
.l-padding-t2 {
  padding-top: 8px !important;
}
.l-padding-b2 {
  padding-bottom: 8px !important;
}
.l-padding-r3 {
  padding-right: 12px !important;
}
.l-padding-l3 {
  padding-left: 12px !important;
}
.l-padding-t3 {
  padding-top: 12px !important;
}
.l-padding-b3 {
  padding-bottom: 12px !important;
}
.l-padding-r4 {
  padding-right: 16px !important;
}
.l-padding-l4 {
  padding-left: 16px !important;
}
.l-padding-t4 {
  padding-top: 16px !important;
}
.l-padding-b4 {
  padding-bottom: 16px !important;
}
.l-padding-r5 {
  padding-right: 20px !important;
}
.l-padding-l5 {
  padding-left: 20px !important;
}
.l-padding-t5 {
  padding-top: 20px !important;
}
.l-padding-b5 {
  padding-bottom: 20px !important;
}
.l-padding-r6 {
  padding-right: 24px !important;
}
.l-padding-l6 {
  padding-left: 24px !important;
}
.l-padding-t6 {
  padding-top: 24px !important;
}
.l-padding-b6 {
  padding-bottom: 24px !important;
}
.l-padding-t14 {
  padding-top: 56px !important;
}
.l-padding-t24 {
  padding-top: 96px !important;
}
.l-margin-0 {
  margin: 0px !important;
}
.l-margin-1 {
  margin: 4px !important;
}
.l-margin-2 {
  margin: 8px !important;
}
.l-margin-3 {
  margin: 12px !important;
}
.l-margin-4 {
  margin: 16px !important;
}
.l-margin-h0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.l-margin-v0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.l-margin-h1 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.l-margin-v1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.l-margin-h2 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.l-margin-v2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.l-margin-h3 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.l-margin-v3 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.l-margin-h4 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.l-margin-v4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.l-margin-r0 {
  margin-right: 0px !important;
}
.l-margin-l0 {
  margin-left: 0px !important;
}
.l-margin-t0 {
  margin-top: 0px !important;
}
.l-margin-b0 {
  margin-bottom: 0px !important;
}
.l-margin-r1 {
  margin-right: 4px !important;
}
.l-margin-l1 {
  margin-left: 4px !important;
}
.l-margin-t1 {
  margin-top: 4px !important;
}
.l-margin-b1 {
  margin-bottom: 4px !important;
}
.l-margin-r2 {
  margin-right: 8px !important;
}
.l-margin-l2 {
  margin-left: 8px !important;
}
.l-margin-t2 {
  margin-top: 8px !important;
}
.l-margin-b2 {
  margin-bottom: 8px !important;
}
.l-margin-r3 {
  margin-right: 12px !important;
}
.l-margin-l3 {
  margin-left: 12px !important;
}
.l-margin-t3 {
  margin-top: 12px !important;
}
.l-margin-b3 {
  margin-bottom: 12px !important;
}
.l-margin-r4 {
  margin-right: 16px !important;
}
.l-margin-l4 {
  margin-left: 16px !important;
}
.l-margin-t4 {
  margin-top: 16px !important;
}
.l-margin-b4 {
  margin-bottom: 16px !important;
}
.l-height10 {
  height: 40px !important;
}
.l-height14 {
  height: 56px !important;
}
