.t-font-size-11 {
  font-size: 1.1rem !important;
}
.t-font-size-16 {
  font-size: 1.6rem !important;
}

@define-mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.t-truncate {
  @mixin text-truncate;
}


.t-word-wrap-break-word {
  word-wrap: break-word;
}
.t-italic {
  font-style: italic;
}

.t-light {
  font-weight: 300 !important;
}
.t-normal {
  font-weight: 400 !important;
}

.t-align-left {
  text-align: left;
}
.t-align-right {
  text-align: right;
}
.t-align-center {
  text-align: center;
}
