.t-font-size-10 {
  font-size: 1rem !important;
}
.t-font-size-12 {
  font-size: 1.2rem !important;
}
.t-font-size-14 {
  font-size: 1.4rem !important;
}
.t-font-size-18 {
  font-size: 1.8rem !important;
}
.t-font-size-20 {
  font-size: 2rem !important;
}
.t-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.t-uppercase {
  text-transform: uppercase;
}
.t-no-wrap {
  white-space: nowrap;
}
.t-word-break-word {
  word-break: break-word;
}
.t-white-space-normal {
  white-space: normal;
}
.t-light {
  font-weight: 300 !important;
}
.t-normal {
  font-weight: 500 !important;
}
.t-bold {
  font-weight: 700 !important;
}
.t-center {
  text-align: center !important;
}
