:root {
  --gray-darkest        :hsl(195,80%,10%);
  --gray-darker         :hsl(192,14%,40%);
  --gray-dark           :hsl(192,14%,50%);
  --gray-light          :hsl(191,15%,73%);
  --gray-lighter        :hsl(198,16%,87%);
  --gray-lightest       :hsl(206,19%,92%);

  --brand-primary-light :hsl(197,69%,50%);

  --baseline  : 4px;
  --h-baseline: 4px;

  --font-weight-thin    : 100;
  --font-weight-light   : 300;
  --font-weight-normal  : 400;
  --font-weight-semibold: 500;
  --font-weight-bold    : 500;
}
