.Card {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-color: #FFF;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-bottom-width: 2px;
  overflow: hidden;
  margin: 8px 8px 0 8px;
}

.Card--fullBleed {
  margin: 0;
}

.Card-title {
  font-size: 1.8rem;
  line-height: 24px;
}

.Card-title,
.Card-content {
  padding: 16px;
}

.Card-content + .Card-content,
.Card-title + .Card-content {
  padding-top: 0;
}

.Card:not(.Card--fullBleed) + .Card {
  margin-top: 4px;
}

@media (min-width: 639px) {
  .Card {
    margin-left: auto;
    margin-right: auto;
    max-width: 620px;
  }
  .Card--fullBleed .Card-title,
  .Card--fullBleed .Card-content {
    margin: 0 auto;
    max-width: 620px;
  }
  .Card-content {
    margin-top: 0;
  }
  .Card--fullBleed {
    margin: 0;
    max-width: none;
  }
}
