.List-item {
  display: block;
  border-bottom: 1px solid #EEE;
  padding: 20px 16px;
  cursor: pointer;
}

.List-item--header {
  border-top: 1px solid #EEE;
  padding-bottom: 8px;
  cursor: default;
  color: hsl(192, 0%, 55%) !important;
}

.List-item--noBorder,
.List-item--header {
  border-bottom: 0;
}
