.Tabs {
  overflow-x: scroll;
}

.Tabs-tab {
  border-bottom: 4px solid transparent;
  opacity: 0.5;
  white-space: nowrap;
}

.Tabs-tab.is-selected {
  border-bottom-color: white;
  opacity: 1;
}

@media (max-width: 460px) {
  .Tabs {
    justify-content: flex-start !important;
  }
}
