@import 'imports';
@import 'reset';

html, body {
  font-size: $font-root-size;
}

body {
  @extend %t-smoothing-on;
  background-color: $gray-lightest;
  color: $gray-dark;
  font-family: $font-stack-proportional;
  font-weight: $font-weight-light;
  line-height: 1;
  text-rendering: optimizeLegibility;
}

ticker-app {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
}

@import 'globals';
@import 'components';
