@import 'imports';
@import 'reset';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @extend %t-smoothing-off;
  color: $gray-darkest;
  font-family: $font-stack-proportional;
  font-weight: $font-weight-normal;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  background-color: $gray-lightest;
}

ticker-app {
  width: 100%;
  height: 100%;
}

@import 'globals';
